/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {
  background-color: #f1f8fe;
  margin-bottom: 48px;
  padding: 20px 0;

}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 75px;
  height: 50px;
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #87CEFA;
}


.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}

/* フォーム周り */

/* img {
  height: 100px;
  width: 100px;
  object-fit: contain;
} */

.inner table td {
  font-size: 13px;
  text-indent: 8px;
  line-height: 100%;
  background: #fff;
  border: 1px solid #dbdbdb;
  height: 29px; 
}

.form__wrapper{ /*conform*/
  min-height: calc(100vh - 161px);
  padding: 1.4em;
  padding-top: 2em;
  margin: 2em 0;
  margin-bottom: 1.4rem;
  border-radius: 5px;
  background: #f6f0e9;
  
}
.form__wrapper th {/*サンプル*/
  padding: 8px;
  background: #f1f1f1;
  border: 1px solid #dbdbdb;
  font-size: 13px;
  vertical-align: middle;
}

.form__wrapper td {/*サンプル*/
  padding: 13px!important;
  text-indent: 0!important;
  line-height: 100%;
  vertical-align: middle;
}

.form__wrapper b {/*サンプル*/
  color: #e50000!important;
  font-size: 0.8em;
}

th {/*サンプル*/
  text-align: left;
}

.form-name td {
  padding: 0px!important;
  margin: -3px 0px -3px 0px!important;
  border: none!important;
  vertical-align: middle;
}

tbody { /*サンプル*/
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

label {/*サンプル*/
  width: 30px;
  /* font-weight: normal; */
  /* display: inline-block; */
  max-width: 100%;
  margin-bottom: 5px;
}

.input-birth-wrap {
  display: flex;
}

input[type=text] ,input[type=radio_button] {
  width: 95px;
  font-weight: normal;
  /* display: inline-block; */
  max-width: 100%;
  margin-bottom: 5px;
}

button, input, select, textarea { /* サンプル*/
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

tr { /*サンプル*/
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.field_with_errors{
  display: contents
} 

.form__text {
  width: 50%;
}

.field{
  margin: 10px 0;
}

.actions{
  margin: 1.555em auto;
  display: block;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* メイン */

.greeting{
  margin-bottom: 20px;
}
.greeting__link{
  text-decoration: underline;
}
.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 161px);
}
.card {
  width: calc((100% - 50px) / 3);
  margin-bottom: 40px;
}
.card__img {
  margin-bottom: 16px;
}
.card__title {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
}
.card__summary {
  font-size: 16px;
}
.card__user {
  display: block;
  font-size: 12px;
  color: #999;
  text-align: right;
  text-decoration: underline;
}

/* 詳細ページ */
.prototype__wrapper { /*サンプル*/
  min-height: calc(100vh - 161px);
  padding: 1.4em;
  padding-top: 2em;
  margin: 2em 0;
  margin-bottom: 1.4rem;
  border-radius: 5px;
  background: #f6f0e9;
}

 

.prototype__wrapper th {/*サンプル*/
  padding: 8px;
  background: #f1f1f1;
  border: 1px solid #dbdbdb;
  font-size: 13px;
  vertical-align: middle;
}

.prototype__wrapper td {/*サンプル*/
  padding: 13px!important;
  text-indent: 0!important;
  line-height: 100%;
  vertical-align: middle;
}

.prototype__wrapper table {
  margin-left: auto;
  margin-right: auto;
}

/* .item-list {
  margin: 0 auto;
  padding: 16px 0;
} */
.prototype__hedding{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.prototype__user{
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  text-decoration: underline;
}
.prototype__image{
  width: 40%;
  margin: 0 auto;
  padding: 16px 0;
}
.prototype__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}
.detail__title{
  font-size: 20px;
  font-weight: bold;
}
.prototype__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.prototype__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}
.prototype__btn:hover{
  color: #fff;
  background: #999;
}

.prototype__comments{
  background-color: #f6f6f6;
  padding: 20px;
  margin: 28px 0 40px 0;
}

.comments_lists{
  padding-left: 20px;
}

.comments_list{
  list-style-type: square;
  padding-bottom: 5px;
}

.comment_user{
  font-size: 16px;
  color: #999;
  text-decoration: underline;
}

/* ユーザーページ */
.user__wrapper{
  min-height: calc(100vh - 161px);
}
.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
}


.table__col1{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}





/*application.cssだけでcssを管理している為、コードが冗長 */

.transaction-contents {
  width: 100vw;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.transaction-main {
  background-color: #FFF;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 10vw;
}

.transaction-title-text {
  text-align: center;
  border-bottom: 2px solid #f5f5f5;
  font-weight: bold;
  font-size: 22px;
}

/* 購入内容の表示 */
.buy-item-info {
  height: 150px;
  border-bottom: 2px solid #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buy-item-img {
  margin-right: 20px;
  height: 130px;
  width: 250px;
  object-fit: contain;
}

.buy-item-right-content {
  display: flex;
  flex-direction: column;
}

.buy-item-text {
  font-size: 20px;
}

.buy-item-price {
  display: flex;
  font-weight: bold;
  align-items: center;
  margin-top: 10px;
}

.item-price-text {
  font-size: 15px;
  margin-right: 20px;
}

.item-price-sub-text {
  font-size: 12px;
}

/* /購入内容の表示 */

/* 支払額の表示 */
.item-payment {
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #f5f5f5;
  font-weight: bold;
}

.item-payment-title {
  font-size: 20px;
}

.item-payment-price {
  font-size: 25px;
}

/* /支払額の表示 */

/* カード情報の入力 */
.credit-card-form {
  border-bottom: 2px solid #f5f5f5;
  margin-top: 15px;
  padding-bottom: 30px;
}

.info-input-haedline {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.available-card {
  display: flex;
  height: 35px;
}

.card-logo {
  width: 40px;
  margin: 5px 5px;
}

.input-expiration-date-wrap {
  width: 100%;
  display: flex;
  text-align: center;
  line-height: 55px;
}

.input-expiration-date {
  width: 20%;
  margin-top: 5px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
  line-height: 45px;
  text-align: center;
}

/* /カード情報の入力 */

/* 配送先の入力 */
.shipping-address-form {
  margin-top: 15px;
}

.form-any {
  background: #ccc;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  padding: 2px 4px;
}

.buy-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.buy-red-btn {
  width: 100%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}





/* フッター */

.footer {
  background-color: #e7a478e1;
  text-align: center;
  padding: 15px 0px;
}
small {
  
  color: rgba(10, 1, 1, 0.938);
  font-size: 0.7rem;
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}

.sold-out {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  background-color: crimson;
  transform: skewY(-10deg);
}

.sold-out > span {
  color: #FFF;
  font-size: 45px;
  font: bold;
}

.item-img-content {
  position: relative;
}